body {
  overflow: hidden;
  background-color: #fefefe;
  color: #939393;
  font-family: 'Roboto-mono', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.05em;
  cursor: pointer;
  -webkit-user-select: none;
}
.help {
  float: right;
  fill: #939393;
}
.group {
  margin-top: 18px;
}

input {
  padding: 8px;
  border: none;
  outline: none;
}

.button {
  box-sizing: border-box;
  display: flex;
  justify-items: flex-start;
  margin: 6px 0;
  padding: 8px;
  border-radius: 3px;
  background-color: rgba(160, 160, 160, 0.07);
  font-size: 12px;
}
.button > * {
  margin: auto 0;
}
.button.thinking {
  background: linear-gradient(
      60deg,
      rgba(160, 160, 160, 0.07) 30%,
      rgba(160, 160, 160, 0.3) 37%,
      rgba(160, 160, 160, 0.07) 70%
    )
    0% 0% / 300% 300%;
  background-size: 300%;
  animation: animatedGradient 1.2s cubic-bezier(0.2, 0, 0.4, 0.8) 0s infinite
    alternate;
}
@keyframes animatedGradient {
  0% {
    background-position: -10% 50%;
  }
  100% {
    background-position: 85% 50%;
  }
}
.button svg {
  display: inline;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  pointer-events: none;
  /* fill: #0288d1; */
  fill: #1f1f1f;
}
.button span {
  background-color: #1f1f1f;
}

.tips {
  font-size: 10px;
  text-align: center;
}

.footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin-left: -8px;
  padding: 4px 0;
  background-color: #1f1f1f;
  color: #ececec;
  line-height: 1.15em;
  text-align: center;
}
.lift-enter-active,
.lift-leave-active {
  transition: bottom 0.5s;
}
.lift-enter,
.lift-leave-to {
  bottom: -48px;
}
